
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel='stylesheet' text='text/css' href='/style/style.css'>
</head>
<body>
   {{>header}}
   <p class = "helptext">welcome to my first weather web app 
       just input a location you want a weather information 
       and hit search it will display weather report below 
   </p>
   <p  class = "footer">created by {{name}}</p>
</body>
</html>