

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <link rel='stylesheet' text='text/css' href='/style/style.css'>
</head> 
<body>
    {{>header}}
    <input type="text" class = "text">
    <input type="button" class = "button" value = "search">
    <p class = "firsttext"></p>
    <p class = "secondtext"></p>
    <p class = "footer">created by {{name}}</p>
    <script
        src='/style/index.js'></script>
    
</body>
</html>